services:
    zookeeper:
      image: confluentinc/cp-zookeeper:7.4.0
      environment:
        ZOOKEEPER_CLIENT_PORT: 2181
        ZOOKEEPER_TICK_TIME: 2000
      ports:
        - "2181:2181"

    kafka:
      image: confluentinc/cp-kafka:7.8.0
      depends_on:
        - zookeeper
      ports:
        - "9092:9092"
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_HOST://kafka:29092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1


    postgres:
      container_name: postgres_go
      image: postgres:15-alpine
      environment:
        - POSTGRES_USER=rtexty
        - POSTGRES_PASSWORD=rtexty
        - POSTGRES_DB=wbtech
        - PGDATA=data/postgres
      volumes:
        - ./postgres-data:/data/postgres
      ports:
        - "5432:5432"

    jaeger:
      image: jaegertracing/all-in-one:1.56
      environment:
        - COLLECTOR_OTLP_ENABLED=true
      ports:
        - "16686:16686"
        - "4318:4318"
